* {
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(219, 226, 239);
}

.navbar-light .navbar-brand {
    color: rgb(34, 87, 126);
}

.nav-item{
    color: #676767;
}


.fonts{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #676767;
}



.tittle{
padding-top: 50px;
}


.btn {
    background-color: rgb(247, 61, 147);
    border-color:rgb(247, 61, 147);
   
}



/*MAP-GET*/

$tamaño: ( mediano:30px, grande :50px);


h1{
    font-size: map-get($tamaño, grande);
    color: $titulo;
}


h2{
    font-size: map-get($tamaño, mediano )
}


/*EXTEND*/

h3{
    @extend.fonts;
    font-size: medium;
}

h4{
    @extend.fonts;
    font-size: small;
}

h5{
    @extend.fonts;
    font-size: small;
}



footer {
    background-color: rgb(228, 233, 190);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/*MIXIN*/

@mixin pad-mar ($padding, $margin) {
    padding: $padding; 
    margin: $margin;
 }
 

.footerContent{
    width: 10%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    @include pad-mar (20px, 20px);
    text-align: left;
    
}

.iconos{
    a{
        text-decoration: none;
    }
}


.footerContent{
    a{
        text-decoration: none;
    }
}



/*MAP*/

$redes: (
    facebook: rgb(36, 58, 115),
    twitter: rgb(140, 192, 222),
    instagram: rgb(255, 6, 183),
);

@each $red, $color in $redes {
    .btn--#{$red}{
        color: $color;
    }
}


@media (max-width: 768px) {

    .carousel-item {
      font-size: 30px;
      height: fit-content;
      padding-top: 55px;
    }

    h1{
    font-size: 25px;
    }

    .carousel-caption p{
        font-size: 15px;
        margin: 5px;
    }


    .btn {
     font-size:11px;
     padding:4px 6px;
    }


    .carousel-caption{
        margin: 0px;
    }



  }