

/* MAIN BANNER*/


.carousel-item img{
    max-height: auto;
    width: auto;
    
}


.carousel-caption{
color: black;
margin: 30px; 
font-size: 30px;
}



/* BANNERS */ 

$tamaño: ( mediano:30px, grande :80px);

.tittleBanner{
font-size: map-get($tamaño, grande);
color: $titulo;
}

.secondTittle{
    color: rgb(87, 111, 114); 

}

.products h2{
justify-content: center;
}

.products{
margin-top: 30px;
margin-bottom: 30px;
}

.products .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.col-lg-4 img{
    height: 150px;
    width: auto;
    
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

