
* {
    margin: 0;
    padding: 0;
}


.navbar{
    background-color: rgb(219, 226, 239);
}



h1{
    color:black;
    font-size: 80px;
}

h2{
    font-size: 30px;
}
h3{
    color: #676767;
    font-size: medium;
}

h4{
color: #676767;
font-size: small;
}


    
.footer{
        background-color: rgb(228, 233, 190);
    }



@media (max-width: 768px) {

    .carousel-item {
      font-size: 15px;
      height: fit-content;
    }

    h1{
    font-size: 25px;
    }

    .carousel-caption p{
        font-size: 15px;
    }


  }

  
footer {
    background-color: rgb(228, 233, 190);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footerContent{
    width: 10%;
    padding: 20px;
    margin: 20px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;

}

/* MAIN BANNER*/


.carousel-item img{
    max-height: 700px;
    width: auto;
    
}


.carousel-caption{
color: black;
margin: 30px; 
font-size: 30px;
}



/* BANNERS */ 

.products h2{
justify-content: center;
}

.products{
margin-top: 30px;
margin-bottom: 30px;
}

.products .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.col-lg-4 img{
    height: 150px;
    width: auto;
    
}

.btn:hover {
    color: aqua;
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}


/* BEST SELLERS */ 

.tittle{
    margin: 30px;
    background-color: #F9CEEE;
   
}



/*

.navbar{
        background-color: rgb(219, 226, 239);
    }

    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    
    h1{
        margin: 20px;
        color:rgb(218, 184, 139);
    }
    
    h2{
        font-size: 30px;
    }
    h3{
        color: #676767;
        font-size: medium;
    }

    
h4{
    color: #676767;
    font-size: small;
}


    
    .titulo{
        display: flex;
        justify-content: center;
    }
    
    .principal{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

/* grid 


        
    .texto{
            margin: 20px;
            text-align: center;
        }
        
    
        
       


.grilla{
display: grid;
gap: 20px;
grid-template-areas:
"header"
"texto"
"galeria"
"footer"
;
}

.header{
    grid-area: header;
}

.texto{
    grid-area: texto;
}

.galeria{ 
grid-area: galeria;
}

.footer{
    grid-area: footer;
    background-color: rgb(228, 233, 190);
    
}





/* Index 

.imageContainerIndex{
    display: grid;
    gap: 10px;
    justify-content: center;
    height: auto;
    }

    .imageContainerIndex img{
        max-width: 300px;
        max-height: auto;
    }
    

/* Pagina Marca 

.contenidoMarca{
    display: grid;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.imagenVideo img{
    max-width: auto;
    max-height: 300px;
}

/* Pagina BestSellers 

.productContainer{
    display: grid;
    gap: 60px;
    margin: 30px;
    justify-content: center;
}


.imagen1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imagen2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imagen3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.textoProductos1{
    display: grid;
    flex-wrap: wrap;

}

.textoProductos2{
    display: grid;
    flex-wrap: wrap;

}

.textoProductos3{
    display: grid;
    flex-wrap: wrap;

}

.productContainer h2 {
    margin-bottom: 20px;
    text-align: center;
}

.productContainer h3{
    margin-bottom: 20px;
    text-align: center;
}

.productContainer img{
    max-width: 250px;
    max-height: auto;
}


/* Pagina Nosotros 


.imageContainer{
    display: grid;
    grid-gap: 20px;
    margin-bottom: 50px;
   justify-content: center;
}

.imageContainer img{
    max-width: 300px;
    max-height: auto;
    
}

/* Página Contacto 


.formulario{
    display: grid;
    margin-bottom: 50px;
    }
    

    
.formulario{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.formulario1{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
   
}



/* DEVICE DESKTOP 


@media (min-width: 500px){
    .grilla{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header header"
        "texto texto"
        "galeria galeria"
        "footer footer"
        ;
        }

        .navbar{
            display: flex;
            justify-content: center;
        }
        
        .navbar li{
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px;  
        }
        
        .navbar a{
            color: rgb(243, 233, 221);
            text-decoration: none;
        }
        
        .footer{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 100px;
            padding: 30px;
            justify-content: space-evenly;
            text-align: start;
        }

        /* Pagina Marca 

        .contenidoMarca{
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
        }


        /* Pagina BestSellers 

        .productContainer{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto; 
            grid-template-areas: 
            "imagenProductos1 textoProductos1"
            "imagenProductos2 textoProductos2"
            "imagenProductos2 textoProductos2"
            ;
            gap: 60px;
            margin: 50px;

        }

        .imagenProductos1{
            grid-area: imagenProductos1;
        }
        
        .imagenProductos2{
            grid-area: imagenProductos2;
        }
        .imagenProductos3{
            grid-area: imagenProductos3;
        }
        
        .textoProductos1{
            grid-area: textoProductos1;
        }
        
        
        .textoProductos2{
            grid-area: textoProductos2;
        }
        
        .textoProductos3{
            grid-area: textoProductos3;
        }
         
        .imagen1{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        .imagen2{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        
        .imagen3{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        
        .textoProductos1{
            display: grid;
            flex-wrap: wrap;
        
        }
        
        .textoProductos2{
            display: grid;
            flex-wrap: wrap;
        
        }
        
        .textoProductos3{
            display: grid;
            flex-wrap: wrap;
        
        }
        
        .productContainer h2 {
            margin-bottom: 20px;
            text-align: center;
        }
        
        .productContainer h3{
            margin-bottom: 20px;
            text-align: center;
        }
        
        
        .productContainer img{
            max-width: 250px;
            max-height: auto;
        }


        /* Pagina Nosotros 

        .imageContainer{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "imageNosotros1 imageNosotros2";
            grid-gap: 20px;
            margin-bottom: 50px;
           justify-content: center;
        }
        
        .imageNosotros1{
            grid-area: imageNosotros1;
        }
        
        .imageNosotros2{
            grid-area: imageNosotros2;
        }
        
        /* Página Contacto 


        .formulario{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            margin-bottom: 50px;
            }
            

            
        .formulario{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        .formulario1{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
        
        }



de la página d ejeemplo.

 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }


}

